Package: com.esqew.bikeracehack
Name: BikeRaceHack
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Sean Quinn
Author: Sean Quinn
Section: Tweaks
